body {
    background-image: url('img1.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color:#007bff;
    font-family:inherit;
}

label {
    font-weight: bold;
}

.form-control {
    border-color: #007bff;
}

#calculateButton {
    background-color: #007bff;
    border: none;
}

#calculateButton:hover {
    background-color: #0056b3;
}

footer {
    background-color: rgba(0, 0, 0, 0.1S); 
    color: #fff; 
    padding: 10px;
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}